<div class="container_campeonato">

    <section class="titulo_pagina">
        Copa LBF de Base<br>
    </section>

    <section class="subtitulo">
        Classificação Categoria Sub-18
    </section>

    <section class="subtitulo">
        Grupo A
    </section>

    <section class="table-responsive-md">
        <table class="table">
            <caption class="indicador_tabela">J=Jogos | P=Pontos | V=Vitórias | E=Empates | D=Derrotas | GP=Gols Pró | GC=Gols Contra | SG=Saldo de Gols | CA=Cartões Amarelos | CV=Cartões Vermelhos</caption>
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Clube</th>
                    <th scope="col">J</th>
                    <th scope="col">P</th>
                    <th scope="col">V</th>
                    <th scope="col">E</th>
                    <th scope="col">D</th>
                    <th scope="col">GP</th>
                    <th scope="col">GC</th>
                    <th scope="col">SG</th>
                    <th scope="col">CA</th>
                    <th scope="col">CV</th>
                </tr>
            </thead>
            <tbody>
                <tr class="table-success">
                    <td>1</td>
                    <td>Brusque</td>
                    <td>3</td>
                    <td>6</td>
                    <td>2</td>
                    <td>0</td>
                    <td>1</td>
                    <td>9</td>
                    <td>2</td>
                    <td>7</td>
                    <td>3</td>
                    <td>2</td>
                </tr>
                <tr class="table-success">
                    <td>2</td>
                    <td>SECEL Jaraguá do Sul</td>
                    <td>3</td>
                    <td>6</td>
                    <td>2</td>
                    <td>0</td>
                    <td>1</td>
                    <td>8</td>
                    <td>5</td>
                    <td>3</td>
                    <td>5</td>
                    <td>0</td>
                </tr> 
                <tr class="table-danger">
                    <td>3</td>
                    <td>Santa Catarina</td>
                    <td>3</td>
                    <td>6</td>
                    <td>2</td>
                    <td>0</td>
                    <td>1</td>
                    <td>6</td>
                    <td>5</td>
                    <td>1</td>
                    <td>3</td>
                    <td>2</td>
                </tr>                                 
                <tr class="table-danger">
                    <td>4</td>
                    <td>Grêmio Itoupavazinha/Franz Volles</td>
                    <td>3</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>3</td>
                    <td>4</td>
                    <td>15</td>
                    <td>-11</td>
                    <td>3</td>
                    <td>0</td>
                </tr>
            </tbody>
        </table>
    </section>

    <section class="subtitulo">
        Grupo B
    </section>

    <section class="table-responsive-md">
        <table class="table">
            <caption class="indicador_tabela">J=Jogos | P=Pontos | V=Vitórias | E=Empates | D=Derrotas | GP=Gols Pró | GC=Gols Contra | SG=Saldo de Gols | CA=Cartões Amarelos | CV=Cartões Vermelhos</caption>
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Clube</th>
                    <th scope="col">J</th>
                    <th scope="col">P</th>
                    <th scope="col">V</th>
                    <th scope="col">E</th>
                    <th scope="col">D</th>
                    <th scope="col">GP</th>
                    <th scope="col">GC</th>
                    <th scope="col">SG</th>
                    <th scope="col">CA</th>
                    <th scope="col">CV</th>
                </tr>
            </thead>
            <tbody>
                <tr class="table-success">
                    <td>1</td>
                    <td>Carlos Renaux</td>
                    <td>3</td>
                    <td>7</td>
                    <td>2</td>
                    <td>1</td>
                    <td>0</td>
                    <td>8</td>
                    <td>3</td>
                    <td>5</td>
                    <td>1</td>
                    <td>0</td>
                </tr>
                <tr class="table-success">
                    <td>2</td>
                    <td>Tupi</td>
                    <td>3</td>
                    <td>4</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>6</td>
                    <td>7</td>
                    <td>-1</td>
                    <td>2</td>
                    <td>1</td>
                </tr>
                <tr class="table-danger">
                    <td>3</td>
                    <td>Blumenau Esporte Clube</td>
                    <td>3</td>
                    <td>3</td>
                    <td>0</td>
                    <td>3</td>
                    <td>0</td>
                    <td>3</td>
                    <td>3</td>
                    <td>0</td>
                    <td>3</td>
                    <td>0</td>
                </tr>                           
                <tr class="table-danger">
                    <td>4</td>
                    <td>Metropolitano/SME Blumenau</td>
                    <td>3</td>
                    <td>1</td>
                    <td>0</td>
                    <td>1</td>
                    <td>2</td>
                    <td>2</td>
                    <td>6</td>
                    <td>-4</td>
                    <td>5</td>
                    <td>0</td>
                </tr>
            </tbody>
        </table>
    </section>

    <section class="subtitulo">
        Artilharia
    </section>

    <section class="table-responsive-md">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Clube</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Gols</th>
                </tr>
            </thead>
            <tbody>
                <tr class="table-success">
                    <td>1</td>
                    <td>SECEL Jaraguá do Sul</td>
                    <td>Gustavo Jonas da Silva</td>
                    <td>3</td>
                </tr>  
                <tr class="table-secondary">
                    <td>2</td>
                    <td>SECEL Jaraguá do Sul</td>
                    <td>Carlos dos Santos Silva</td>
                    <td>2</td>
                </tr>  
                <tr class="table-secondary">
                    <td>3</td>
                    <td>Grêmio Itoupavazinha/Franz Volles</td>
                    <td>Matheus Vieira Buss </td>
                    <td>2</td>
                </tr>
                <tr class="table-secondary">
                    <td>4</td>
                    <td>Carlos Renaux</td>
                    <td>Bryan Luiz Reis</td>
                    <td>2</td>
                </tr>                           
                <tr class="table-secondary">
                    <td>5</td>
                    <td>Santa Catarina</td>
                    <td>Alisson Garcia Bascheira </td>
                    <td>1</td>
                </tr>
                <tr class="table-secondary">
                    <td>6</td>
                    <td>Santa Catarina</td>
                    <td>Paulo Henrique Selhorst </td>
                    <td>1</td>
                </tr>
                <tr class="table-secondary">
                    <td>7</td>
                    <td>Santa Catarina</td>
                    <td>Jorge Augusto dos Santos Rodrigues </td>
                    <td>1</td>
                </tr>
                <tr class="table-secondary">
                    <td>8</td>
                    <td>Santa Catarina</td>
                    <td>Marcos Vinicius Sobre Almeida </td>
                    <td>1</td>
                </tr>
                
                <tr class="table-secondary">
                    <td>9</td>
                    <td>Blumenau</td>
                    <td>Antony Kaue Padilha </td>
                    <td>1</td>
                </tr>
                <tr class="table-secondary">
                    <td>10</td>
                    <td>Tupi</td>
                    <td>Benicio da Silva Testoni</td>
                    <td>1</td>
                </tr>
                <tr class="table-secondary">
                    <td>11</td>
                    <td>Carlos Renaux</td>
                    <td>Arthur Luiz Simon</td>
                    <td>1</td>
                </tr>
                <tr class="table-secondary">
                    <td>12</td>
                    <td>Carlos Renaux</td>
                    <td>Erick de Oliveira Elgart</td>
                    <td>1</td>
                </tr>
                <tr class="table-secondary">
                    <td>13</td>
                    <td>SECEL Jaraguá do Sul</td>
                    <td>Vinicius Michael Martim</td>
                    <td>1</td>
                </tr>  
                <tr class="table-secondary">
                    <td>14</td>
                    <td>SECEL Jaraguá do Sul</td>
                    <td>Kaue Eric S.</td>
                    <td>1</td>
                </tr>   
                <tr class="table-secondary">
                    <td>15</td>
                    <td>Grêmio Itoupavazinha/Franz Volles</td>
                    <td>Jonathan da Costa </td>
                    <td>1</td>
                </tr>    
                <tr class="table-secondary">
                    <td>16</td>
                    <td>Grêmio Itoupavazinha/Franz Volles</td>
                    <td>Heron Antonio Pereira Fermino </td>
                    <td>1</td>
                </tr>  
                <tr class="table-secondary">
                    <td>17</td>
                    <td>Blumenau</td>
                    <td>Ruan Felipe da Silva B. </td>
                    <td>1</td>
                </tr>   
                <tr class="table-secondary">
                    <td>18</td>
                    <td>Tupi</td>
                    <td>Jonas Adriano de Souza Lopes  </td>
                    <td>1</td>
                </tr>  
                <tr class="table-secondary">
                    <td>19</td>
                    <td>Tupi</td>
                    <td>Vitor Gabriel Martinelli </td>
                    <td>1</td>
                </tr>  
                <tr class="table-secondary">
                    <td>20</td>
                    <td>Carlos Renaux</td>
                    <td>Alexandre A. Santana</td>
                    <td>1</td>
                </tr>  
                <tr class="table-secondary">
                    <td>21</td>
                    <td>Carlos Renaux</td>
                    <td>Lucas Escobar Vicentini Melo</td>
                    <td>1</td>
                </tr> 
                <tr class="table-secondary">
                    <td>22</td>
                    <td>Carlos Renaux</td>
                    <td>Igor Eduardo Galvão </td>
                    <td>1</td>
                </tr> 
                <tr class="table-secondary">
                    <td>23</td>
                    <td>Brusque</td>
                    <td>Pedro Henrique da Costa Lisboa </td>
                    <td>1</td>
                </tr> 
                <tr class="table-secondary">
                    <td>24</td>
                    <td>Brusque</td>
                    <td>Gustavo Zarate Elias Greca </td>
                    <td>1</td>
                </tr> 
                <tr class="table-secondary">
                    <td>25</td>
                    <td>Metropolitano/SME Blumenau</td>
                    <td>Benjamin Gabriel Ramos </td>
                    <td>1</td>
                </tr> 
            </tbody>
        </table>
    </section>
    <br>
</div>