<div class="container_campeonato">

    <section class="titulo_pagina">
        Copa LBF de Base<br>
    </section>

    <section class="subtitulo">
        Classificação Categoria Sub-18
    </section>

    <section class="subtitulo">
        Grupo A
    </section>

    <section class="table-responsive-md">
        <table class="table">
            <caption class="indicador_tabela">J=Jogos | P=Pontos | V=Vitórias | E=Empates | D=Derrotas | GP=Gols Pró | GC=Gols Contra | SG=Saldo de Gols | CA=Cartões Amarelos | CV=Cartões Vermelhos</caption>
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Clube</th>
                    <th scope="col">J</th>
                    <th scope="col">P</th>
                    <th scope="col">V</th>
                    <th scope="col">E</th>
                    <th scope="col">D</th>
                    <th scope="col">GP</th>
                    <th scope="col">GC</th>
                    <th scope="col">SG</th>
                    <th scope="col">CA</th>
                    <th scope="col">CV</th>
                </tr>
            </thead>
            <tbody>
                <tr class="table-success">
                    <td>1</td>
                    <td>Santa Catarina</td>
                    <td>1</td>
                    <td>3</td>
                    <td>1</td>
                    <td>0</td>
                    <td>0</td>
                    <td>4</td>
                    <td>1</td>
                    <td>3</td>
                    <td>3</td>
                    <td>1</td>
                </tr> 
                <tr class="table-success">
                    <td>2</td>
                    <td>SECEL Jaraguá do Sul</td>
                    <td>1</td>
                    <td>3</td>
                    <td>1</td>
                    <td>0</td>
                    <td>0</td>
                    <td>2</td>
                    <td>0</td>
                    <td>2</td>
                    <td>5</td>
                    <td>0</td>
                </tr>       
                <tr class="table-danger">
                    <td>3</td>
                    <td>Brusque</td>
                    <td>1</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>1</td>
                    <td>0</td>
                    <td>2</td>
                    <td>-2</td>
                    <td>3</td>
                    <td>1</td>
                </tr>
                <tr class="table-danger">
                    <td>4</td>
                    <td>Grêmio Itoupavazinha/Franz Volles</td>
                    <td>1</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>1</td>
                    <td>1</td>
                    <td>4</td>
                    <td>-3</td>
                    <td>3</td>
                    <td>0</td>
                </tr>
            </tbody>
        </table>
    </section>

    <section class="subtitulo">
        Grupo B
    </section>

    <section class="table-responsive-md">
        <table class="table">
            <caption class="indicador_tabela">J=Jogos | P=Pontos | V=Vitórias | E=Empates | D=Derrotas | GP=Gols Pró | GC=Gols Contra | SG=Saldo de Gols | CA=Cartões Amarelos | CV=Cartões Vermelhos</caption>
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Clube</th>
                    <th scope="col">J</th>
                    <th scope="col">P</th>
                    <th scope="col">V</th>
                    <th scope="col">E</th>
                    <th scope="col">D</th>
                    <th scope="col">GP</th>
                    <th scope="col">GC</th>
                    <th scope="col">SG</th>
                    <th scope="col">CA</th>
                    <th scope="col">CV</th>
                </tr>
            </thead>
            <tbody>
                <tr class="table-success">
                    <td>1</td>
                    <td>Carlos Renaux</td>
                    <td>1</td>
                    <td>3</td>
                    <td>1</td>
                    <td>0</td>
                    <td>0</td>
                    <td>2</td>
                    <td>0</td>
                    <td>2</td>
                    <td>1</td>
                    <td>0</td>
                </tr>
                <tr class="table-success">
                    <td>2</td>
                    <td>Blumenau Esporte Clube</td>
                    <td>1</td>
                    <td>1</td>
                    <td>0</td>
                    <td>1</td>
                    <td>0</td>
                    <td>1</td>
                    <td>1</td>
                    <td>0</td>
                    <td>3</td>
                    <td>0</td>
                </tr>               
                <tr class="table-danger">
                    <td>3</td>
                    <td>Tupi</td>
                    <td>1</td>
                    <td>1</td>
                    <td>0</td>
                    <td>1</td>
                    <td>0</td>
                    <td>1</td>
                    <td>1</td>
                    <td>0</td>
                    <td>2</td>
                    <td>1</td>
                </tr>
                <tr class="table-danger">
                    <td>4</td>
                    <td>Metropolitano/SME Blumenau</td>
                    <td>1</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>1</td>
                    <td>0</td>
                    <td>2</td>
                    <td>-2</td>
                    <td>5</td>
                    <td>0</td>
                </tr>
            </tbody>
        </table>
    </section>
</div>