
<header>
  <section class="barra_navegacao">
    <div>
      <img class="img_logo" src="img/logo_transp.png" alt="lbf" title="lbf"> 
    </div>
    <div class="titulo_campeonato">
      <h2>Liga Blumenauense de Futebol</h2>
    </div>

    <div>
      <a routerLink="/tabela" class="botao btn btn-primary">Tabela</a>
      <a routerLink="/categoria-sub14" class="botao btn btn-primary">Categoria Sub-14</a>
      <a routerLink="/categoria-sub16" class="botao btn btn-primary">Categoria Sub-16</a>
      <a routerLink="/categoria-sub18" class="botao btn btn-primary">Categoria Sub-18</a>
      <a routerLink="/documentos" class="botao btn btn-primary">Documentos</a>
    </div>

  </section>
</header>
<section class="back-imagem">
  <section class="container">
    <router-outlet></router-outlet>
  </section>
</section>
<footer>
  Liga Blumenauense de Futebol
  <br>
  Desenvolvido por Esp. Fábio Almeida
</footer> 