<div class="container_campeonato">

    <section class="titulo_pagina">
        Copa LBF de Base<br>
    </section>

    <section class="subtitulo">
        <h3>Primeira Rodada</h3>
    </section>

    <section class="table-responsive-md">   
        <table class="table">
            <caption class="indicador_tabela">Estádio Adolfo Largura | Itoupavazinha</caption>
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Data</th>
                    <th scope="col">Horário</th>
                    <th scope="col">Mandante</th>
                    <th scope="col"></th>
                    <th scope="col">X</th>
                    <th scope="col"></th>
                    <th scope="col">Visitante</th>
                    <th scope="col">Categoria</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>01/03/26</td>
                    <td>08:30</td>
                    <td>Brusque</td>
                    <td>3</td>
                    <td>X</td>
                    <td>0</td>
                    <td>Francis IAFA</td>
                    <td>Sub-14</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>01/03/26</td>
                    <td>09:20</td>
                    <td>Brusque</td>
                    <td>0</td>
                    <td>X</td>
                    <td>2</td>
                    <td>SECEL Jaraguá do Sul</td>
                    <td>Sub-18</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>01/03/26</td>
                    <td>14:45</td>
                    <td>Santa Catarina</td>
                    <td>1</td>
                    <td>X</td>
                    <td>1</td>
                    <td>NFC</td>
                    <td>Sub-16</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>01/03/26</td>
                    <td>16:00</td>
                    <td>Santa Catarina</td>
                    <td>4</td>
                    <td>X</td>
                    <td>1</td>
                    <td>Grêmio Itoupavazinha/Franz Volles</td>
                    <td>Sub-18</td>
                </tr>
            </tbody>
        </table>
    </section>

    <section class="table-responsive-md">
        <table class="table">
            <caption class="indicador_tabela">Estádio AMABA | Badenfurt</caption>
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Data</th>
                    <th scope="col">Horário</th>
                    <th scope="col">Mandante</th>
                    <th scope="col"></th>
                    <th scope="col">X</th>
                    <th scope="col"></th>
                    <th scope="col">Visitante</th>
                    <th scope="col">Categoria</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>7</td>
                    <td>01/03/26</td>
                    <td>10:30</td>
                    <td>Instituto Metropolitano SME Blumenau</td>
                    <td>0</td>
                    <td>X</td>
                    <td>2</td>
                    <td>Carlos Renaux</td>
                    <td>Sub-18</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>01/03/26</td>
                    <td>14:45</td>
                    <td>Francis IAFA</td>
                    <td>1</td>
                    <td>X</td>
                    <td>0</td>
                    <td>NGA/Canto do Rio</td>
                    <td>Sub-16</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>01/03/26</td>
                    <td>16:00</td>
                    <td>Tupi</td>
                    <td>1</td>
                    <td>X</td>
                    <td>1</td>
                    <td>Blumenau Esporte Clube</td>
                    <td>Sub-18</td>
                </tr>
            </tbody>
        </table>
    </section>

    <section class="table-responsive-md">
        <table class="table">
            <caption class="indicador_tabela">Estádio Caça e Tiro Velha Central | Velha Central</caption>
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Data</th>
                    <th scope="col">Horário</th>
                    <th scope="col">Mandante</th>
                    <th scope="col"></th>
                    <th scope="col">X</th>
                    <th scope="col"></th>
                    <th scope="col">Visitante</th>
                    <th scope="col">Categoria</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>6</td>
                    <td>05/03/26</td>
                    <td>19:30</td>
                    <td>NFC</td>
                    <td>7</td>
                    <td>X</td>
                    <td>0</td>
                    <td>Guerreiros do Futuro</td>
                    <td>Sub-14</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>05/03/26</td>
                    <td>20:30</td>
                    <td>Brusque</td>
                    <td>6</td>
                    <td>X</td>
                    <td>1</td>
                    <td>Guerreiros do Futuro</td>
                    <td>Sub-16</td>
                </tr>
            </tbody>
        </table>
    </section>

    <section class="subtitulo">
        <h3>Segunda Rodada</h3>
    </section>

    <section class="table-responsive-md">   
        <table class="table">
            <caption class="indicador_tabela">Estádio Adolfo Largura | Itoupavazinha</caption>
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Data</th>
                    <th scope="col">Horário</th>
                    <th scope="col">Mandante</th>
                    <th scope="col"></th>
                    <th scope="col">X</th>
                    <th scope="col"></th>
                    <th scope="col">Visitante</th>
                    <th scope="col">Categoria</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>10</td>
                    <td>08/03/26</td>
                    <td>08:00</td>
                    <td>Brusque</td>
                    <td>-</td>
                    <td>X</td>
                    <td>-</td>
                    <td>Guerreiros do Futuro</td>
                    <td>Sub-14</td>
                </tr>

                <tr>
                    <td>11</td>
                    <td>08/03/26</td>
                    <td>09:20</td>
                    <td>Brusque</td>
                    <td>-</td>
                    <td>X</td>
                    <td>-</td>
                    <td>Santa Catarina</td>
                    <td>Sub-16</td>
                </tr>

                <tr>
                    <td>12</td>
                    <td>08/03/26</td>
                    <td>11:00</td>
                    <td>Brusque</td>
                    <td>-</td>
                    <td>X</td>
                    <td>-</td>
                    <td>Santa Catarina</td>
                    <td>Sub-18</td>
                </tr>

                <tr>
                    <td>13</td>
                    <td>08/03/26</td>
                    <td>14:45</td>
                    <td>Francis IAFA</td>
                    <td>-</td>
                    <td>X</td>
                    <td>-</td>
                    <td>Guerreiros do Futuro</td>
                    <td>Sub-16</td>
                </tr>

                <tr>
                    <td>14</td>
                    <td>08/03/26</td>
                    <td>16:00</td>
                    <td>SECEL Jaraguá do Sul</td>
                    <td>-</td>
                    <td>X</td>
                    <td>-</td>
                    <td>Grêmio Itoupavazinha/Franz Volles</td>
                    <td>Sub-18</td>
                </tr>
            </tbody>
        </table>
    </section>

    <section class="table-responsive-md">
        <table class="table">
            <caption class="indicador_tabela">Estádio Edmundo Hort | Progresso</caption>
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Data</th>
                    <th scope="col">Horário</th>
                    <th scope="col">Mandante</th>
                    <th scope="col"></th>
                    <th scope="col">X</th>
                    <th scope="col"></th>
                    <th scope="col">Visitante</th>
                    <th scope="col">Categoria</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>15</td>
                    <td>08/03/26</td>
                    <td>09:00</td>
                    <td>NFC</td>
                    <td>-</td>
                    <td>X</td>
                    <td>-</td>
                    <td>Francis IAFA</td>
                    <td>Sub-14</td>
                </tr>
                <tr>
                    <td>16</td>
                    <td>08/03/26</td>
                    <td>10:30</td>
                    <td>Carlos Renaux</td>
                    <td>-</td>
                    <td>X</td>
                    <td>-</td>
                    <td>Tupi</td>
                    <td>Sub-18</td>
                </tr>
                <tr>
                    <td>17</td>
                    <td>08/03/26</td>
                    <td>14:45</td>
                    <td>NGA/Canto do Rio</td>
                    <td>-</td>
                    <td>X</td>
                    <td>-</td>
                    <td>NFC</td>
                    <td>Sub-16</td>
                </tr>
                <tr>
                    <td>18</td>
                    <td>08/03/26</td>
                    <td>16:00</td>
                    <td>Blumenau Esporte Clube/td>
                    <td>-</td>
                    <td>X</td>
                    <td>-</td>
                    <td>Instituto Metropolitano/SME Blumenau</td>
                    <td>Sub-18</td>
                </tr>
            </tbody>
        </table>
    </section>

    <section class="subtitulo">
        <h3>Terceira Rodada</h3>
    </section>

    <section class="table-responsive-md">   
        <table class="table">
            <caption class="indicador_tabela">Estádio AMABA | Badenfurt</caption>
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Data</th>
                    <th scope="col">Horário</th>
                    <th scope="col">Mandante</th>
                    <th scope="col"></th>
                    <th scope="col">X</th>
                    <th scope="col"></th>
                    <th scope="col">Visitante</th>
                    <th scope="col">Categoria</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>19</td>
                    <td>15/03/26</td>
                    <td>08:00</td>
                    <td>Guerreiros do Futuro</td>
                    <td>-</td>
                    <td>X</td>
                    <td>-</td>
                    <td>Francis IAFA</td>
                    <td>Sub-14</td>
                </tr>     
                <tr>
                    <td>20</td>
                    <td>15/03/26</td>
                    <td>09:00</td>
                    <td>Santa Catarina</td>
                    <td>-</td>
                    <td>X</td>
                    <td>-</td>
                    <td>Francis IAFA</td>
                    <td>Sub-16</td>
                </tr>   
                <tr>
                    <td>21</td>
                    <td>15/03/26</td>
                    <td>10:30</td>
                    <td>Santa Catarina</td>
                    <td>-</td>
                    <td>X</td>
                    <td>-</td>
                    <td>SECEL Jaraguá do Sul</td>
                    <td>Sub-18</td>
                </tr>  
                <tr>
                    <td>22</td>
                    <td>15/03/26</td>
                    <td>14:45</td>
                    <td>Guerreiros do Futuro</td>
                    <td>-</td>
                    <td>X</td>
                    <td>-</td>
                    <td>NFC</td>
                    <td>Sub-16</td>
                </tr> 
                <tr>
                    <td>23</td>
                    <td>15/03/26</td>
                    <td>16:00</td>
                    <td>Blumenau Esporte Clube</td>
                    <td>-</td>
                    <td>X</td>
                    <td>-</td>
                    <td>Carlos Renaux</td>
                    <td>Sub-18</td>
                </tr>      
            </tbody>
        </table>
    </section>

    <section class="table-responsive-md">
        <table class="table">
            <caption class="indicador_tabela">Estádio Carlos Barbosa Fontes | Gaspar</caption>
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Data</th>
                    <th scope="col">Horário</th>
                    <th scope="col">Mandante</th>
                    <th scope="col"></th>
                    <th scope="col">X</th>
                    <th scope="col"></th>
                    <th scope="col">Visitante</th>
                    <th scope="col">Categoria</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>24</td>
                    <td>15/03/26</td>
                    <td>09:00</td>
                    <td>Brusque</td>
                    <td>-</td>
                    <td>X</td>
                    <td>-</td>
                    <td>NFC</td>
                    <td>Sub-14</td>
                </tr>
                <tr>
                    <td>25</td>
                    <td>15/03/26</td>
                    <td>10:30</td>
                    <td>Brusque</td>
                    <td>-</td>
                    <td>X</td>
                    <td>-</td>
                    <td>Grêmio Itoupavazinha/Franz Volles</td>
                    <td>Sub-18</td>
                </tr>
                <tr>
                    <td>26</td>
                    <td>15/03/26</td>
                    <td>14:45</td>
                    <td>Brusque</td>
                    <td>-</td>
                    <td>X</td>
                    <td>-</td>
                    <td>NGA/Canto do Rio</td>
                    <td>Sub-16</td>
                </tr>
                <tr>
                    <td>27</td>
                    <td>15/03/26</td>
                    <td>16:00</td>
                    <td>Tupi</td>
                    <td>-</td>
                    <td>X</td>
                    <td>-</td>
                    <td>Instituto Metropolitano/SME Blumenau</td>
                    <td>Sub-18</td>
                </tr>
            </tbody>
        </table>
    </section>
</div>