<div class="container_campeonato">

    <section class="titulo_pagina">
        Copa LBF de Base<br>
    </section>

    <section class="subtitulo">
        Classificação Categoria Sub-14
    </section>

    <section class="table-responsive-md">
        <table class="table">
            <caption class="indicador_tabela">J=Jogos | P=Pontos | V=Vitórias | E=Empates | D=Derrotas | GP=Gols Pró | GC=Gols Contra | SG=Saldo de Gols | CA=Cartões Amarelos | CV=Cartões Vermelhos</caption>
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Clube</th>
                    <th scope="col">J</th>
                    <th scope="col">P</th>
                    <th scope="col">V</th>
                    <th scope="col">E</th>
                    <th scope="col">D</th>
                    <th scope="col">GP</th>
                    <th scope="col">GC</th>
                    <th scope="col">SG</th>
                    <th scope="col">CA</th>
                    <th scope="col">CV</th>
                </tr>
            </thead>
            <tbody>
                <tr class="table-success">
                    <td>1</td>
                    <td>Brusque</td>
                    <td>2</td>
                    <td>6</td>
                    <td>2</td>
                    <td>0</td>
                    <td>0</td>
                    <td>13</td>
                    <td>0</td>
                    <td>13</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
                <tr class="table-success">
                    <td>2</td>
                    <td>NFC</td>
                    <td>2</td>
                    <td>6</td>
                    <td>2</td>
                    <td>0</td>
                    <td>0</td>
                    <td>8</td>
                    <td>0</td>
                    <td>8</td>
                    <td>0</td>
                    <td>0</td>
                </tr>            
                <tr class="table-success">
                    <td>3</td>
                    <td>Francis IAFA</td>
                    <td>2</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>2</td>
                    <td>0</td>
                    <td>4</td>
                    <td>-4</td>
                    <td>2</td>
                    <td>0</td>
                </tr>
                <tr class="table-success">
                    <td>4</td>
                    <td>Guerreiros do Futuro</td>
                    <td>2</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>2</td>
                    <td>0</td>
                    <td>17</td>
                    <td>-17</td>
                    <td>0</td>
                    <td>0</td>
                </tr> 
            </tbody>
        </table>
    </section>

    <section class="subtitulo">
        Artilharia
    </section>

    <section class="table-responsive-md">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Clube</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Gols</th>
                </tr>
            </thead>
            <tbody>
                <tr class="table-success">
                    <td>1</td>
                    <td>Brusque</td>
                    <td>Nicolas Felipe Foguesatto</td>
                    <td>3</td>
                </tr>
                <tr class="table-secondary">
                    <td>2</td>
                    <td>Brusque</td>
                    <td>Guilherme Gianesi </td>
                    <td>3</td>
                </tr>
                <tr class="table-secondary">
                    <td>3</td>
                    <td>NFC</td>
                    <td>Luís Antonio Santos da Silva</td>
                    <td>3</td>
                </tr>
                <tr class="table-secondary">
                    <td>4</td>
                    <td>Brusque</td>
                    <td>Lyan Boos</td>
                    <td>2</td>
                </tr> 
                <tr class="table-secondary">
                    <td>5</td>
                    <td>NFC</td>
                    <td>Murilo Siegel</td>
                    <td>2</td>
                </tr>            
                <tr class="table-secondary">
                    <td>6</td>
                    <td>Brusque</td>
                    <td>Joao Vitor Pereira Nunes dos Santos </td>
                    <td>1</td>
                </tr>
                <tr class="table-secondary">
                    <td>7</td>
                    <td>NFC</td>
                    <td>Bernardo Rocha Mantuani </td>
                    <td>1</td>
                </tr>
                <tr class="table-secondary">
                    <td>8</td>
                    <td>NFC</td>
                    <td>Enzo Reiter Salmoria</td>
                    <td>1</td>
                </tr>
                <tr class="table-secondary">
                    <td>9</td>
                    <td>NFC</td>
                    <td>Lucas Soares Agostinho</td>
                    <td>1</td>
                </tr>
                
                <tr class="table-secondary">
                    <td>10</td>
                    <td>Brusque</td>
                    <td>Davi Leonardo Pereira </td>
                    <td>1</td>
                </tr>
                <tr class="table-secondary">
                    <td>11</td>
                    <td>Brusque</td>
                    <td>Miuguel Oliveira Souza </td>
                    <td>1</td>
                </tr>
                <tr class="table-secondary">
                    <td>12</td>
                    <td>Brusque</td>
                    <td>Henrique Miranda </td>
                    <td>1</td>
                </tr>
                <tr class="table-secondary">
                    <td>13</td>
                    <td>Brusque</td>
                    <td>Luiz Barbosa  </td>
                    <td>1</td>
                </tr>
            </tbody>
        </table>
    </section>
    <br>
</div>