<div class="container_campeonato">

    <section class="titulo_pagina">
        Copa LBF de Base<br>
    </section>

    <section class="subtitulo">
        Classificação Categoria Sub-16
    </section>

    <section class="subtitulo">
        Grupo A
    </section>

    <section class="table-responsive-md">
        <table class="table">
            <caption class="indicador_tabela">J=Jogos | P=Pontos | V=Vitórias | E=Empates | D=Derrotas | GP=Gols Pró | GC=Gols Contra | SG=Saldo de Gols | CA=Cartões Amarelos | CV=Cartões Vermelhos</caption>
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Clube</th>
                    <th scope="col">J</th>
                    <th scope="col">P</th>
                    <th scope="col">V</th>
                    <th scope="col">E</th>
                    <th scope="col">D</th>
                    <th scope="col">GP</th>
                    <th scope="col">GC</th>
                    <th scope="col">SG</th>
                    <th scope="col">CA</th>
                    <th scope="col">CV</th>
                </tr>
            </thead>
            <tbody>
                <tr class="table-success">
                    <td>1</td>
                    <td>Brusque</td>
                    <td>1</td>
                    <td>3</td>
                    <td>1</td>
                    <td>0</td>
                    <td>0</td>
                    <td>6</td>
                    <td>1</td>
                    <td>5</td>
                    <td>2</td>
                    <td>0</td>
                </tr> 
                <tr class="table-success">
                    <td>2</td>
                    <td>Francis IAFA</td>
                    <td>1</td>
                    <td>3</td>
                    <td>1</td>
                    <td>0</td>
                    <td>0</td>
                    <td>1</td>
                    <td>0</td>
                    <td>1</td>
                    <td>2</td>
                    <td>0</td>
                </tr>
                <tr class="table-danger">
                    <td>3</td>
                    <td>Santa Catarina</td>
                    <td>1</td>
                    <td>1</td>
                    <td>0</td>
                    <td>1</td>
                    <td>0</td>
                    <td>1</td>
                    <td>1</td>
                    <td>0</td>
                    <td>2</td>
                    <td>0</td>
                </tr>                         
            </tbody>
        </table>
    </section>

    <section class="subtitulo">
        Grupo B
    </section>

    <section class="table-responsive-md">
        <table class="table">
            <caption class="indicador_tabela">J=Jogos | P=Pontos | V=Vitórias | E=Empates | D=Derrotas | GP=Gols Pró | GC=Gols Contra | SG=Saldo de Gols | CA=Cartões Amarelos | CV=Cartões Vermelhos</caption>
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Clube</th>
                    <th scope="col">J</th>
                    <th scope="col">P</th>
                    <th scope="col">V</th>
                    <th scope="col">E</th>
                    <th scope="col">D</th>
                    <th scope="col">GP</th>
                    <th scope="col">GC</th>
                    <th scope="col">SG</th>
                    <th scope="col">CA</th>
                    <th scope="col">CV</th>
                </tr>
            </thead>
            <tbody>
                <tr class="table-success">
                    <td>1</td>
                    <td>NFC</td>
                    <td>1</td>
                    <td>1</td>
                    <td>0</td>
                    <td>1</td>
                    <td>0</td>
                    <td>0</td>
                    <td>1</td>
                    <td>1</td>
                    <td>2</td>
                    <td>0</td>
                </tr>     
                <tr class="table-success">
                    <td>2</td>
                    <td>Guerreiros do Futuro</td>
                    <td>1</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>1</td>
                    <td>1</td>
                    <td>6</td>
                    <td>-5</td>
                    <td>1</td>
                    <td>0</td>
                </tr>                    
                <tr class="table-danger">
                    <td>3</td>
                    <td>NGA/Canto do Rio</td>
                    <td>1</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>1</td>
                    <td>0</td>
                    <td>1</td>
                    <td>-1</td>
                    <td>4</td>
                    <td>0</td>
                </tr>           
            </tbody>
        </table>
    </section>

    <section class="subtitulo">
        Artilharia
    </section>

    <section class="table-responsive-md">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Clube</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Gols</th>
                </tr>
            </thead>
            <tbody>
                <tr class="table-success">
                    <td>1</td>
                    <td>Brusque</td>
                    <td>Bernardo Abiel dos Santos Estevam</td>
                    <td>2</td>
                </tr>
                <tr class="table-secondary">
                    <td>2</td>
                    <td>Santa Catarina</td>
                    <td>Lucas Katcha Dimmer Gomes</td>
                    <td>1</td>
                </tr>
                <tr class="table-secondary">
                    <td>3</td>
                    <td>NFC</td>
                    <td>Vicente Antonio Simas Conceição</td>
                    <td>1</td>
                </tr>                
                <tr class="table-secondary">
                    <td>4</td>
                    <td>Francis IAFA</td>
                    <td>Kaua Alves Vieira </td>
                    <td>1</td>
                </tr>
                <tr class="table-secondary">
                    <td>5</td>
                    <td>Brusque</td>
                    <td>João Guilherme Fernandes Ribeiro da Silva </td>
                    <td>1</td>
                </tr>
                <tr class="table-secondary">
                    <td>6</td>
                    <td>Brusque</td>
                    <td>Guilherme Nort </td>
                    <td>1</td>
                </tr>
                <tr class="table-secondary">
                    <td>7</td>
                    <td>Brusque</td>
                    <td>Miguel Cunha da Silva</td>
                    <td>1</td>
                </tr>
                <tr class="table-secondary">
                    <td>8</td>
                    <td>Brusque</td>
                    <td>João Paulo Münch</td>
                    <td>1</td>
                </tr>
                <tr class="table-secondary">
                    <td>9</td>
                    <td>Guerreiros do Futuro</td>
                    <td>Andrei José Quos Borges Soares</td>
                    <td>1</td>
                </tr>
            </tbody>
        </table>
    </section>
    <br>
</div>